SP_List_Automatic_Notifications/definition_beautified.json
{
  "name": "2a25fecb-7b01-402b-9a49-c93bab5739ab",
  "id": "/providers/Microsoft.Flow/flows/2a25fecb-7b01-402b-9a49-c93bab5739ab",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "Onboarding Tracking Initial & Rejoin Notification",
    "definition": {
      "metadata": {
        "workflowEntityId": null,
        "processAdvisorMetadata": null,
        "flowclientsuspensionreason": "None",
        "flowclientsuspensiontime": null,
        "creator": {
          "id": "a53bc1d0-c019-4df5-8a8c-71d55163fba9",
          "type": "User",
          "tenantId": "45e6435d-dc1c-42e3-89be-e72e6c8f072d"
        },
        "provisioningMethod": "FromDefinition",
        "failureAlertSubscription": true,
        "clientLastModifiedTime": "2022-05-19T19:36:46.1465319Z"
      },
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "timeZone": "Pacific Standard Time",
            "startTime": "2022-02-24T09:00:00.000Z",
            "schedule": {
              "hours": [
                "1"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b5d1aa99-4d46-4e36-a50e-bfc3aede486b"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Get_items_-_InitialDate": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2f78bea9-30b3-40b9-b998-f8f7227d1c4a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "parameters": {
              "dataset": "SOURCESITEURL",
              "table": "e0d4fa12-674f-42c7-8534-fc08e8e9fc26",
              "$filter": "FAInitialDate eq '@{addtotime(utcnow(),-38,'day','yyyy-MM-dd')}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_HTML_table": {
          "runAfter": {
            "Get_items_-_InitialDate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "10895668-b916-4b5d-a464-df49ac272021"
          },
          "type": "Table",
          "inputs": {
            "from": "@outputs('Get_items_-_InitialDate')?['body/value']",
            "format": "HTML",
            "columns": [
              {
                "header": "Name",
                "value": "@item()?['Title']"
              },
              {
                "header": "Initial^Date",
                "value": "@item()?['FAInitialDate']"
              },
              {
                "header": "Graduation^Date",
                "value": "@item()?['Graduation_x0020_Date']"
              },
              {
                "header": "Base",
                "value": "@item()?['Base']?['Value']"
              },
              {
                "header": "Class",
                "value": "@item()?['Class']?['Value']"
              },
              {
                "header": "Est.^Re-join^Date",
                "value": "@item()?['Re_x002d_JoinDate']"
              },
              {
                "header": "Re-Join^Notes",
                "value": "@item()?['Re_x002d_JoiningClassNotes']"
              },
              {
                "header": "SMEs",
                "value": "@item()?['SME_x0027_s_x0020_Left']"
              }
            ]
          }
        },
        "Get_items_-_ReJoinDate": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bd009b6a-f1e6-423a-ab0e-04e08daae65d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "parameters": {
              "dataset": "SOURCESITEURL",
              "table": "e0d4fa12-674f-42c7-8534-fc08e8e9fc26",
              "$filter": "Re_x002d_JoinDate eq '@{addtotime(utcnow(),3,'day','yyyy-MM-dd')}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Replace_Carats_with_Spaces_INITIAL": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "757a4d7a-2d73-4b93-ba20-cd4267cd8d8a"
              },
              "type": "Compose",
              "inputs": "@replace(body('Create_HTML_table'), '^', ' ')"
            },
            "CSS_Table_Style_INITIAL": {
              "runAfter": {
                "Replace_Carats_with_Spaces_INITIAL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "74ff893c-f0e4-454c-92b7-7ce6002e5a6b"
              },
              "type": "Compose",
              "inputs": "<style>\nTable {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #EEEEEE;\n  border-collapse: collapse;\n  width: 100%;\n}\nTable td, Table th {\n  border: 1px solid #ddd;\n  padding: 3px 3px;\n}\nTable th {\n  font-size: 15px;\n  font-weight: bold;\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #1C6EA4;\n  color: white;\n}\n</style>"
            },
            "Send_an_email_(V2)_2": {
              "runAfter": {
                "Get_file_content": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e105b91f-de5e-4507-ac1a-b00d2888faff"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "parameters": {
                  "emailMessage/To": "mark.liv@email.com",
                  "emailMessage/Subject": "@{formatdatetime(utcnow(),'ddMMMyy')} Reminder - Onboarding FSMs Graduating Soon",
                  "emailMessage/Body": "<p>Notification Reminder for onboarding FSMs graduating Initial this week. &nbsp;Please reach out to congratulate everyone and make sure details are vetted (re-join curriculum date, etc.)<br>\n<a href=\"SOURCESITEURL">MS Teams Master Tracking List</a><br>\n<br>\n@{outputs('CSS_Table_Style_INITIAL')}@{outputs('Replace_Carats_with_Spaces_INITIAL')}</p>",
                  "emailMessage/Attachments": [
                    {
                      "Name": "Email_Template.oft",
                      "ContentBytes": "@body('Get_file_content')"
                    }
                  ],
                  "emailMessage/Importance": "High"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_file_content": {
              "runAfter": {
                "CSS_Table_Style_INITIAL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "%252fShared%2bDocuments%252fPowerAutomate%252fCongratulations!%2b%2bWelcome%2bback%2bto%2bFDL%2bTraining!.oft": "/Shared Documents/PowerAutomate/Congratulations!  Welcome back to FDL Training!.oft",
                "operationMetadataId": "81af8a8a-730d-4920-8639-8c4acea11e6d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetFileContent"
                },
                "parameters": {
                  "dataset": "SOURCESITEURL",
                  "id": "%252fShared%2bDocuments%252fPowerAutomate%252fCongratulations!%2b%2bWelcome%2bback%2bto%2bFDL%2bTraining!.oft",
                  "inferContentType": true
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Create_HTML_table": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Send_an_email_(V2)": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "d07ef17e-7c8f-4d18-949d-f99bd9ae4345"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2"
                  },
                  "parameters": {
                    "emailMessage/To": "mark.liv@email.com",
                    "emailMessage/Subject": "@{formatdatetime(utcnow(),'ddMMMyy')} LENGTH_OF_GRAD_TABLE",
                    "emailMessage/Body": "<p>@{length(body('Create_HTML_Table'))}</p>"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "greater": [
              "@length(body('Create_HTML_table'))",
              200
            ]
          },
          "metadata": {
            "operationMetadataId": "d2a7b9e0-acb5-4260-bff0-14da52b77a7b"
          },
          "type": "If"
        },
        "Create_HTML_table_2": {
          "runAfter": {
            "Get_items_-_ReJoinDate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c8f9adf8-9eff-4781-9b2c-ddee47584de1"
          },
          "type": "Table",
          "inputs": {
            "from": "@outputs('Get_items_-_ReJoinDate')?['body/value']",
            "format": "HTML",
            "columns": [
              {
                "header": "Name",
                "value": "@item()?['Title']"
              },
              {
                "header": "Est.^Re-join^Date",
                "value": "@item()?['Re_x002d_JoinDate']"
              },
              {
                "header": "Re-Join^Notes",
                "value": "@item()?['Re_x002d_JoiningClassNotes']"
              },
              {
                "header": "Base",
                "value": "@item()?['Base']?['Value']"
              },
              {
                "header": "Class",
                "value": "@item()?['Class']?['Value']"
              },
              {
                "header": "Group",
                "value": "@item()?['Group/Value']"
              },
              {
                "header": "SMEs",
                "value": "@item()?['SME_x0027_s_x0020_Left']"
              }
            ]
          }
        },
        "Condition_2": {
          "actions": {
            "Replace_Carat_With_Spaces_REJOIN": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ce4b601d-f4d8-47cf-8eab-f38e5b71cb11"
              },
              "type": "Compose",
              "inputs": "@replace(body('Create_HTML_table_2'), '^', ' ')"
            },
            "CSS_Table_Style_REJOIN": {
              "runAfter": {
                "Replace_Carat_With_Spaces_REJOIN": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c3f91965-4016-48ae-9822-a56b21a084ff"
              },
              "type": "Compose",
              "inputs": "<style>\nTable {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #EEEEEE;\n  border-collapse: collapse;\n  width: 100%;\n}\nTable td, Table th {\n  border: 1px solid #ddd;\n  padding: 3px 3px;\n}\nTable th {\n  font-size: 15px;\n  font-weight: bold;\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #1C6EA4;\n  color: white;\n}\n</style>"
            },
            "Send_an_email_(V2)_4": {
              "runAfter": {
                "CSS_Table_Style_REJOIN": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "878ba1c9-bfdb-4839-a9c0-cc900864b037"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "parameters": {
                  "emailMessage/To": "mark.liv@email.com",
                  "emailMessage/Subject": "@{formatdatetime(utcnow(),'ddMMMyy')} Reminder - Onboarding FSMs Re-Joining Curriculum Soon",
                  "emailMessage/Body": "<p>Notification Reminder that these FSMs are estimated to Re-Join onboarding curriculum soon. &nbsp;Please reach out to verify with each individuals.<br>\n<a href=\"SOURCESITEURL">MS Teams Master Tracking List</a><br>\n<br>\n@{outputs('CSS_Table_Style_REJOIN')}@{outputs('Replace_Carat_With_Spaces_REJOIN')}</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Create_HTML_table_2": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Send_an_email_(V2)_3": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "da2336b9-2d74-4b8f-a4a6-ec59a24c4179"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2"
                  },
                  "parameters": {
                    "emailMessage/To": "mark.liv@email.com",
                    "emailMessage/Subject": "@{formatdatetime(utcnow(),'ddMMMyy')} LENGTH_OF_REJOIN_TABLE",
                    "emailMessage/Body": "<p>@{length(body('Create_HTML_table_2'))}</p>"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "greater": [
              "@length(body('Create_HTML_table_2'))",
              169
            ]
          },
          "metadata": {
            "operationMetadataId": "0d999078-f8d0-4806-bde9-fa3f73fb0c1f"
          },
          "type": "If"
        }
      }
    },
    "connectionReferences": {
      "shared_sharepointonline": {
        "connectionName": "shared-sharepointonl-99b1d8c1-f821-46cd-9276-0aeac780d361",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
        "tier": "NotSpecified"
      },
      "shared_office365": {
        "connectionName": "shared-office365-62250e42-25b8-47b0-abae-709853e78b9d",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365",
        "tier": "NotSpecified"
      }
    },
    "flowFailureAlertSubscribed": false,
    "isManaged": false
  }
}
